.searchPageCard {
  width: 90vw;
  margin-bottom: 30px;
  display: flex;
  padding-left: 50px;
}

.searchPageCard:hover {
  cursor: pointer;
}

.searchPageThumbnail img {
  margin-right: 50px;
  width: 420px;
  height: 250px;
}

.searchPageChannelPic img {
  border-radius: 50%;
  margin-right: 10px;
  height: 20px;
  margin-top: 10px;
}

.searchPageUploadDetails {
  display: flex;
  /* background-color: blueviolet; */
}

.channelInfo {
  margin-top: 40px;
}
