.videoPageContainer {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  padding: 100px 70px;
  overflow-x: hidden;
}

.sideVideos {
  /* background-color: blueviolet; */
  margin-right: 80px;
}
